$menuHeight: 50px;
$menuPadding: 8px;
$menuPaddingLR:18%;  //Paddin left and right in Destopk  
$color1: #fff;

nav {
    background: orange;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
 
    @media only screen and (min-width : 1200px) {
        display: flex;
        padding: 0 $menuPaddingLR;

        .line .toggle {display: none;}
    }
 
    .line {
        position: relative;
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        padding: $menuPadding;
        z-index: 2;
        background: $color1;

        .logo {          
            background: white;
            margin: auto;

            img {
                display: block;
                height: $menuHeight - $menuPadding * 2;             
            }
        }

        .toggle {
            background: red;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }

    .collapse {
        background: green;
        position: absolute;
        top: -100vh;
        width: 100%;
        height: 100vh;
        z-index: 1;
        transition: top 0.7s ease-in;
        padding-top: $menuHeight;

        &.active { top: 0; }

        @media only screen and (min-width : 1200px) {
            position: initial;
            width: initial;
            height: initial;
            padding-top: initial;
            flex: 1;
        }
    }
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

