nav {
    background: orange;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    transition: all 1s;
    overflow: hidden;

    // &.active {
    //     height: 100vh;
    // }

    .line {

        display: flex;
        flex-direction: row;

        padding: 8px;

        .logo {
            
            background: white;
            margin: auto;

            img {
                display: block;
                height: 50px;
                min-height: 50px;
            }
        }

        .toggle {
            background: red;
            cursor: pointer;
        }

    }

    .collapse {
        background: green;
        flex: 0;
        overflow: hidden;
        transition:flex 0.3s ease-out;

        &.active {
            flex: 1; 
        }

    }

    
}